# Revisão

## Listas

Coleção mutável de objetos

In [9]:
lista = [] # lista vazia

lista1 = list() # lista vazia

lista2 = [1, 2, 3]

lista3 = ['a', 'b', 'c']

lista4 = [1, 2.0, -3, "quatro", True] # elementos são de tipos diferentes

lista5 = [1, 2.0, -3, "quatro", True, [2, 3]]

In [7]:
print(type(lista))

<class 'list'>

A lista possui valores (elementos) e índices

In [ ]:
[1, 2.0, -3, "quatro", True, [2, 3]]  
 0   1   2     3        4      5    ---> Posição

In [11]:
lista5[3] # acessar o elemento "quatro"

'quatro'

In [13]:
lista5[4] # acessar a posição 4 --> não é o quarto elemento -----PYTHON O ÍNDICE COMEÇA NO ZERO

True

In [17]:
# substituindo elementos da lista (mutável)

lista5[2] = -4 # substituindo o número -3 por -4

In [18]:
lista5

[1, 2.0, -4, 'quatro', True, [2, 3]]

In [19]:
# Acessar uma parte da lista (slice)

impares = [1, 3, 5, 7, 9, 11, 13, 15, 17]
# indices  0  1  2  3  4  5   6   7   8

In [23]:
impares[3:] # estou acessando do valor 7 em diante, ou seja, a posição 3 até o final

[7, 9, 11, 13, 15, 17]

In [24]:
impares[3:8] # cuidado!!!! o último valor é excludente

[7, 9, 11, 13, 15]

In [25]:
impares[3:9] # impares[3:len(impares)+1]

[7, 9, 11, 13, 15, 17]

In [26]:
impares[3:10]

[7, 9, 11, 13, 15, 17]

In [27]:
impares[3:-1] #-1 seleciona o último valor da lista (ou a última posição) ---SLICE : ele vai até a última posição

[7, 9, 11, 13, 15]

In [28]:
impares[-1] # -1 seleciona o último valor da lista (ou a última posição)

17

In [29]:
impares[-2]

15

In [40]:
# voltando para o fatiamento (slice)

numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

numeros[3:11:3] # posições --> [indice_inicial, indice_final, passo]

[3, 6, 9]

In [36]:
len(numeros) # tamanho da lista

16

In [41]:
# maneira mais fácil de percorrer a lista

for elemento in numeros:
    print(elemento)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [43]:
tamanho = len(numeros)
print(tamanho)

16

In [44]:
# outra forma de percorrer a lista

for indice in range(tamanho):
    print(numeros[indice])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [52]:
lista = [1, -3, 4, 10, 0, 2., -6, 7, 2, 1, 2, 5]

In [ ]:
# ordenar os elementos

auxiliar = 0 

for indice in lista:
    auxiliar = element
    
# percorre a lista procurando o menor valor e adiciona em uma nova lista, excluindo da lista anterior

### Métodos e Funções de listas
https://docs.python.org/3/tutorial/datastructures.html

In [54]:
sorted(lista) # função sorted

[-6, -3, 0, 1, 1, 2.0, 2, 2, 4, 5, 7, 10]

In [61]:
sorted(lista, reverse=True) # função sorted decrescente

[10, 7, 5, 4, 2.0, 2, 2, 1, 1, 0, -3, -6]

In [49]:
sorted(['b', 'a', 'c'])

['a', 'b', 'c']

In [51]:
sorted(['b', 'a', 'c', 1., 3, 2])

TypeError: '<' not supported between instances of 'float' and 'str'

In [55]:
lista # a função sorted NÃO altera a lista original, a não ser que seja atribuída ela mesma ou a outra lista

[1, -3, 4, 10, 0, 2.0, -6, 7, 2, 1, 2, 5]

In [57]:
lista.sort() # tente lista.reverse()

In [58]:
lista # o método sort ALTERA a lista

[-6, -3, 0, 1, 1, 2.0, 2, 2, 4, 5, 7, 10]

In [59]:
# Adicionar elementos na lista

pares = [0, 2, 4, 6, 8]

In [62]:
pares.append(10) # acrescenta um valor ao final da lista

In [63]:
pares

[0, 2, 4, 6, 8, 10]

In [74]:
# outra forma de adicionar elemento com a posição da lista

print(pares)

# acrescentar o valor 6 na posição 3

pares.insert(3, 6) # a função insert precisa da posição seguida do valor que quero adicionar
# insert(indice, valor)

[0, 2, 4, 6, 8, 10]

In [75]:
# remover um valor da lista pares

print(pares)

[0, 2, 4, 6, 6, 8, 10]

In [76]:
pares.remove(4) # Remove o primeiro valor encontrado

print(pares)

[0, 2, 6, 6, 8, 10]

In [77]:
pares.remove(1)

ValueError: list.remove(x): x not in list

In [79]:
print(pares)

pares.pop(2) #mostra qual valor ele irá remover da posição dada

[0, 2, 6, 6, 8, 10]

6

In [80]:
print(pares)

[0, 2, 6, 8, 10]

In [81]:
# Buscar um elemento

pi = [3, 1, 4, 1, 5, 9, 2, 6, 5]

# quero saber o índice do valor 5
pi.index(5) # dá a posição do primeiro valor encontrado

4

In [82]:
tamanho = len(pi)
maior = max(pi) #função que dã o maior valor da lista
menor = min(pi)

print(tamanho, maior, menor)

9 9 1

In [83]:
# quantas vezes o valor 5 aparece

pi.count(5) # conta quantas vezes o elemento aparece na lista

2

In [84]:
a = [1, 2]

pi.append(a) # adiciona elemento (objeto) na última posição

pi

[3, 1, 4, 1, 5, 9, 2, 6, 5, [1, 2]]

In [85]:
pi = [3, 1, 4, 1, 5, 9, 2, 6, 5]

pi.extend(a) # adicinou os elementos da lista na lista anterior (ele desencapsulou)

pi

[3, 1, 4, 1, 5, 9, 2, 6, 5, 1, 2]

## Operações entre listas

In [108]:
lista + lista # adicionou os elementos das duas listas em uma

[-6,
 -3,
 0,
 1,
 1,
 2.0,
 2,
 2,
 4,
 5,
 7,
 10,
 -6,
 -3,
 0,
 1,
 1,
 2.0,
 2,
 2,
 4,
 5,
 7,
 10]

In [110]:
lista * 2 # * repete a sequência

[-6,
 -3,
 0,
 1,
 1,
 2.0,
 2,
 2,
 4,
 5,
 7,
 10,
 -6,
 -3,
 0,
 1,
 1,
 2.0,
 2,
 2,
 4,
 5,
 7,
 10]

In [112]:
# quero multiplicar por 2 cada elemento da lista
[2*i for i in lista]

[-12, -6, 0, 2, 2, 4.0, 4, 4, 8, 10, 14, 20]

## List Comprehension (compreensão de listas)

In [88]:
# quero uma lista com o cálculo do quadrado dos valores de 0 a 9

lista_quadrados = []

for i in range(10):
    lista_quadrados.append(i * i)
    
lista_quadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [91]:
lista_quadrados2 = [i * i for i in range(10)]
lista_quadrados2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [94]:
# quero uma lista com o cálculo do quadrado dos valores de 0 a 9 - somente os números pares

lista_quadrados3 = [i * i for i in range(10) if i % 2 == 0]
lista_quadrados3

[0, 4, 16, 36, 64]

In [95]:
lista_quadrados4 = []
for i in range(10):
    if i % 2 == 0:
        lista_quadrados4.append(i * i)
        
print(lista_quadrados4)

[0, 4, 16, 36, 64]

# STRINGS

- string = texto, literal
- string é uma coleção de caracteres
- strings são imutáveis

In [96]:
variavel1 = 'texto'
variavel2 = "palavra"
variavel3 = "Let's Code"

In [98]:
type(variavel3)

str

In [102]:
# Acessar uma string

frase = "Let's Code by Ada Tech"

print(frase[0]) # acessa a partir de índices
print(frase[1])
print(frase[2])
print(frase[3])
print(frase[4])

L
e
t
'
s

In [103]:
frase[0] = 'p'

TypeError: 'str' object does not support item assignment

string é imutável

In [104]:
for caracter in frase:
    print(caracter)

L
e
t
'
s

C
o
d
e

b
y

A
d
a

T
e
c
h

## Operações entre strings

In [115]:
palavra1 = "crianças"
palavra2 = "dia das "

In [116]:
palavra2 + palavra1

'dia das crianças'

- Concatenar (unir duas ou mais strings)

In [118]:
frase1 = frase + "qualquer coisa" # operador soma em string é concatenar

print(frase1)

Let's Code by Ada Techqualquer coisa

In [119]:
frase1 = frase + " " + "qualquer coisa" # operador soma em string é concatenar

print(frase1)

Let's Code by Ada Tech qualquer coisa

In [120]:
numero = 2

frase + numero #SÓ CONCATENA STRING COM STRING

TypeError: can only concatenate str (not "int") to str

In [121]:
numero = 2

frase + str(numero)

"Let's Code by Ada Tech2"

In [130]:
idade = 22
altura = 1.67

nova_frase = 'A minha idade é ' + str(idade) + ' anos e minha altura é ' + str(altura) + ' metros'

print(nova_frase)

A minha idade é 22 anos e minha altura é 1.67 metros

Vimos mais uma forma de manipular strings (+). Lembrando que já vimos o print com vírgula, com format e com f-strings

* : repetir a string n vezes

In [131]:
string1 = 'texto'

string1 * 3

'textotextotexto'

In [132]:
'0' * 20 # criando uma string/texto com 20 zeros

'00000000000000000000'

In [133]:
var1 = '1' + '0' * 20

print(var1)
print(type(var1))

100000000000000000000
<class 'str'>

In [134]:
var1 = int(var1)

print(var1)
print(type(var1))

100000000000000000000
<class 'int'>

- Copiar uma string através do operador de concatenar

```python
soma = 0
for numero in lista:
    soma = soma + numero
```

In [139]:
#usando a mesma lógica

string_inicial = 'Mundo'
string_final = '' # iniciando uma variável com o valor string vazio

for letra in string_inicial:
    print('letra: ', letra)
    print('string_final', string_final)
    
    string_final = string_final + letra
    
    print('string_final', string_final)
    print('mais uma rodada\n')

letra:  M
string_final
string_final M
mais uma rodada

letra:  u
string_final M
string_final Mu
mais uma rodada

letra:  n
string_final Mu
string_final Mun
mais uma rodada

letra:  d
string_final Mun
string_final Mund
mais uma rodada

letra:  o
string_final Mund
string_final Mundo
mais uma rodada

- Transformando uma string em lista

In [140]:
frase = 'texto'

list(frase) # transforma string em lista

['t', 'e', 'x', 't', 'o']

In [144]:
lista_frase = list(frase)
lista_frase

['t', 'e', 'x', 't', 'o']

In [151]:
# na lista consigo alterar a letra 't' por 'T'?

lista_frase[0] = 'T'

print(lista_frase)

['T', 'e', 'x', 't', 'o']

In [152]:
frase

'texto'

In [153]:
frase[0] = 'T'

TypeError: 'str' object does not support item assignment